body {
    font-family: sans-serif;
    background-image: url('https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

h1, h2 {
    color: #333333;
}

h1 {
    text-align: center;
}
h2 {
    text-align: left;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wraparea1, .wraparea2 {
    width: 30%;
    margin: 1%;
}

#btn {
    margin-top: 4%;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #767676;
}

#area1, #area2 {
    outline: none;
    resize: none;
    width: 100%;
    height: 40vh;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;        
    -moz-box-sizing: border-box;    
    -webkit-box-sizing: border-box;
}
